<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song Lists</title>
    <link rel="icon" href="/static/images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Exo:400,700" rel="stylesheet">
</head>
<body>
    <div class="context">
        <h2>Available Songs</h2>
        <ul>
            {% for song in songs %}
            <li>
                <strong style="color: black;">Title :  {{ song.title }}</strong><br>
                <strong style="color: black;">Artist : {{ song.artist }}</strong><br>
                <audio controls>
                    <source src="{{ song.url }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
